.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    z-index: 10;
    position: absolute;
    transition: all 0.25s;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.333333%;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        left: 1rem;
        transform: scale(1.2);
      }
    }
    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 30;
      }
    }
    &--p3 {
      left: 15%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0;
        left: -1rem;
        transform: scale(1.2);
      }
    }

    &:hover,
    &:active {
      outline-offset: 2rem;
      outline: 1.5rem solid $color-primary-dark;
      transform: scale(1.3) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
      z-index: 15;

      @include respond(tab-land) {
        z-index: 60;
        transform: scale(1.2) translateY(-0.2rem);
      }

      @include respond(phone) {
        outline-offset: 0.5rem;
        outline: 0.5rem solid $color-primary-dark;
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
