.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 6000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s;

      @include respond(tab-port) {
        top: 0;
        right: 2rem;
      }
    }

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__content {
    width: 75%;
    background-color: $color-white;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
    display: table;
    overflow: hidden;

    @include respond(tab-port) {
      width: 90%;
      height: auto;
      display: block;
    }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-port) {
      width: 0;
      visibility: hidden;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      width: 100%;
      height: auto;
      display: block;
      padding: 3.5rem 2rem 2.5rem 2rem;
      display: block;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-clip-rule: 0.1rem solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    clip-rule: 0.1rem solid $color-grey-light-2;
    hyphens: auto;

    @include respond(tab-port) {
      font-size: 1rem;
      margin-bottom: 2rem;
      column-count: 1;
    }
  }
}
